# Base de datos
DATABASE_URL=postgresql://gastos_user:gastos_password@localhost:5432/gastos_db

# JWT
SECRET_KEY=tu-clave-secreta-muy-larga-y-aleatoria-cambiar-en-produccion-min-32-chars
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# App
APP_NAME=Gastos App
DEBUG=True
TIMEZONE=America/Argentina/Buenos_Aires
